.claim_code
  display: none

#rails-rumble
  display: block
  background: url(/images/banner.png)
  height: 226px
  width: 226px
  text-indent: -9999px
  position: absolute
  top: 0
  right: 0
  z-index: 10

p
  font-size: 12px
  margin-top: 0
  margin-bottom: 22px
  -webkit-font-smoothing: antialiased

body
  margin: 0
  padding: 0
  font-family: "Helveitca Neue", Helvetica, sans-serif
  line-height: 22px

#page
  position: relative
  margin: 0 auto
  padding: 0
  width: 960px

  #header
    margin: 0
    padding: 0
    margin-top: 112px
    color: #a697e4

    h1
      display: block
      margin: 0
      padding: 0
      width: 315px
      height: 95px
      background: url(/images/logo.png)
      text-indent: -9999px
      margin-bottom: 13px
      margin-bottom: 15px

    em.subtitle
      text-transform: uppercase
      font-weight: bold
      font-style: normal
      font-size: 20px

  #navigation
    position: absolute
    top: 52px
    right: 99px

    a
      font-size: 14px
      font-weight: bold
      color: #3e64bb
      text-decoration: none

  #pitch
    display: inline
    float: left
    width: 222px
    margin-right: 24px
    padding-top: 22gempx
    color: #919191

    h4
      text-transform: uppercase
      font-size: 14px
      font-weight: bold
      margin-bottom: 0px

  #setup
    margin-top: 18px
    display: inline
    float: left
    width: 622px
    padding: 12px 45px
    border-top: 6px solid #bbcdf7
    color: #5985ec
    border: 1px solid #ecedfa
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eff0ff))
    background: -moz-linear-gradient(top,  #fff,  #eff0ff)
    -webkit-box-shadow: 0px 0px 54px #dcdfff
    -moz-box-shadow: 0px 0px 54px #dcdfff
    box-shadow: 0px 0px 54px #dcdfff

    h2
      font-weight: normal
      font-size: 30px

    label
      color: #000
      font-weight: bold
      text-transform: uppercase
      font-size: 13px

    input#term
      color: #7f9bda
      padding: 12px 25px
      font-size: 24px
      width: 570px
      margin-bottom: 10px

    button
      -webkit-appearance: none
      margin-top: 13px
      padding: 14px 20px
      width: 243px
      border: none
      background: #65b0e8 url(/images/button.png) no-repeat
      color: #fff
      font-weight: bold
      text-transform: uppercase
      font-size: 13px
      text-shadow: #1a78c5 0px 1px 1px
      

    p#disclaimer
      display: inline
      float: left
      width: 355px
      margin-right: 24px
      margin-top: 22px
      font-weight: bold
      color: #a9a9d4