.claim_code
  display: none

#rails-rumble
  display: block
  background: url(/images/banner.png)
  height: 226px
  width: 226px
  text-indent: -9999px
  position: absolute
  top: 0
  right: 0
  z-index: 10

p
  font-size: 12px
  margin-top: 0
  margin-bottom: 22px
  -webkit-font-smoothing: antialiased

a
  color: #0000a7

  &:hover
    color: #0000df

  &:active
    color: #000073

body
  margin: 0
  padding: 0
  font-family: "Helveitca Neue", Helvetica, sans-serif
  line-height: 22px

#page
  position: relative
  margin: 0 auto
  padding: 0
  width: 960px
  padding-top: 112px

  #header
    margin: 0
    padding: 0
    color: #a697e4

    h1
      display: block
      margin: 0
      padding: 0
      width: 315px
      height: 95px
      background: url(/images/logo.png)
      text-indent: -9999px
      margin-bottom: 13px
      margin-bottom: 15px

    em.subtitle
      clear: both
      display: block
      text-transform: uppercase
      font-weight: bold
      font-style: normal
      font-size: 20px

  #navigation
    position: absolute
    top: 166px
    right: 116px

    a
      font-size: 14px
      font-weight: bold
      color: #3e64bb
      text-decoration: none

  #pitch
    display: inline
    float: left
    width: 222px
    margin-right: 24px
    padding-top: 22gempx
    color: #a5a5d5

    h4
      text-transform: uppercase
      font-size: 14px
      font-weight: bold
      margin-bottom: 0px
      padding-left: 30px

    #vanity h4
      background: url(/images/icon_alert.png) 0 -3px no-repeat

    #control h4
      background: url(/images/icon_control.png) 0 -3px no-repeat

  #setup
    margin-top: 18px
    display: inline
    float: left
    width: 622px
    padding: 12px 45px
    border-top: 6px solid #bbcdf7
    color: #5985ec
    border: 1px solid #ecedfa
    background: #fff
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eff0ff))
    background: -moz-linear-gradient(top,  #fff,  #eff0ff)
    -webkit-box-shadow: 0px 0px 54px #dcdfff
    -moz-box-shadow: 0px 0px 54px #dcdfff
    box-shadow: 0px 0px 54px #dcdfff

    h2, h3
      font-weight: normal
      font-size: 30px

    label
      color: #000
      font-weight: bold
      text-transform: uppercase
      font-size: 13px

    input#term
      color: #7f9bda
      padding: 12px 25px
      font-size: 24px
      width: 570px
      margin-bottom: 10px

    button
      -webkit-appearance: none
      margin-top: 13px
      padding: 14px 20px
      width: 243px
      border: none
      background: #65b0e8 url(/images/button.png) no-repeat
      color: #fff
      font-weight: bold
      text-transform: uppercase
      font-size: 13px
      text-shadow: #1a78c5 0px 1px 1px
      -webkit-border-radius: 4px
      -moz-border-radius: 4px
      border-radius: 4px

      &:hover
        background: url(/images/button_hover.png)

      &:active
        background: url(/images/button_active.png)

    p#disclaimer
      display: inline
      float: left
      width: 355px
      margin-right: 24px
      margin-top: 22px
      font-weight: bold
      color: #a9a9d4

  #dashboard
    #setup
      width: 870px

      input
        width: 800px

      p#disclaimer
        width: 585px

    #terms
      clear: both
      padding: 40px

      h3
        font-weight: normal
        font-size: 30px
        color: #5985ec

      ul
        list-style-type: none
        margin: 0
        padding: 0

        a
          font-size: 14px

      .term
        .name
          font-size: 18px
          display: inline-block
          width: 75%

        .actions
          margin-left: 44roupx
          font-size: 12px
          
          a
            margin-left: 22px

  #footer
    clear: both
    padding-top: 44px

    p
      font-weight: bold
      font-size: 14px
      text-transform: uppercase
      color: #a5a5d5

    .inner
      width: 185px
      float: right

    a
      display: block
      color: #616199

  .section
    margin-top: 44px
    margin-bottom: 22px

  #people
    clear: both
    list-style-type: none
    padding: 0

    .person
      float: left
      width: 128px
      margin-right: 20px

      h3
        font-size: 16px
