#pitch
  #vanity
    %h4 Vanity Alerts
    %p Want to get alerted every time someone mentions your name, company or product? Well without our easy to use and free application, you now can.
  #control
    %h4 Complete Control
    %p You have complete control from both the web and from your mobile phone. Simply direct message the bot and tell us when you want to start and stop.

#setup
  %h2 Let's get started
  = form_for search_term do |make|
    = make.label :term, "Direct Message me when the following name or phrase is mentioned"
    = make.text_field :term, :id => "term", :value => "@railsrumble"
    %p#disclaimer We will NOT tweet anything on your behalf.
    %button{:type => "button"} Authorize
